<div class="register-container">
  <form (ngSubmit)="handleSubmit()" [formGroup]="authForm">
      <h1>Register</h1>
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input
          class="form-control"
          type="email"
          placeholder="email"
          id="email"
          formControlName="email"
        />
        <div
          class="text-danger"
          *ngIf="authForm.get('email')?.touched && authForm.get('email')?.errors"
        >
          <div *ngIf="authForm.get('email')?.errors?.['required']">
            Email bắt buộc phải nhập
          </div>
          <div *ngIf="authForm.get('email')?.errors?.['email']">
            Email Không đúng định dạng 
          </div>

        </div>
      </div>
    
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          placeholder="password"
          id="password"
          formControlName="password"
        />
        <div
          class="text-danger"
          *ngIf="
            authForm.get('password')?.touched && authForm.get('password')?.errors
          "
        >
          <div *ngIf="authForm.get('password')?.errors?.['required']">
            password bắt buộc phải nhập
          </div>
          <div
            *ngIf="authForm.get('password')?.errors?.['min'] && authForm.get('password')?.errors?.['min']"
          >
            Password tối thiểu 6 kí tự.
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <button class="btn btn-primary w-100" type="submit">Submit</button>
      </div>
    </form>
</div>